<h1>Список всех пользователей</h1>

<%= link_to 'Создать пользователя', new_user_path %>

<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.admin %></td>
      <td><%= user.login %></td>
      <td><%= link_to 'Редактировать', edit_user_path(id: user.id) %></td>
    </tr>
  <% end %>
</table>
